/*----- hamburger -----*/

.hamburger {
  width: 50px;
  padding: 0;
  background: none;
  border: none;
}

.whitecastle.hamburger {
  transform: scale(0.4);
}

.slider.hamburger {
  width: 40px;
}

.quarterpounder.hamburger,
.royale.hamburger,
.krustyburger.hamburger {
  width: 60px;
}

.bigmac.hamburger {
  width: 100px;
}

.supersize.hamburger {
  width: 100%;
}


.hamburger:focus,
.hamburger:active {
  box-shadow: none;
}


.hamburger__button {
  width: 100%;
  background: none;
  border: none;
}

.hamburger__button:focus,
.hamburger__button:active {
  outline: none;
}


/*----- hamburger buns -----*/

.hamburger__top-bun__svg {
  width: 100%;
  overflow: visible;
  fill: #222;
}

.hamburger__top {
  transform-origin: 100% 100%;
  transition: all .4s ease;
}

.hamburger-is-open .hamburger__top {
  transform: rotate(160deg) translateX(-4px);
  fill: #F0D2AA;
}

.hamburger__bottom {
  transition: all .4s ease;
}

.hamburger-is-open .hamburger__bottom {
  fill: #F0D2AA;
}



/*----- hamburger patty -----*/

.hamburger-cheese {
  margin-bottom: -10%;
}



/*----- hamburger patty -----*/

.hamburger__patty {
  display: block;
  width: 98%;
  margin: 3px auto;
  padding-top: 17%;

  background-color: black;
  border-radius: 105px;

  /* transform-origin: 50% 50%; */
  /* transition: all .4s ease; */
}

.hamburger__patty:first-of-type {
  margin-top: 2px;
}

.hamburger__patty:last-of-type {
  margin-bottom: 2px;
}

.slider .hamburger__patty:first-of-type,
.slider .hamburger__patty:last-of-type,
.whitecastle .hamburger__patty:first-of-type,
.whitecastle .hamburger__patty:last-of-type {
  margin-top: 0;
}

.hamburger-is-open .hamburger__patty {
  /* transform: translateX(2px); */
  background-color: #FF6C43;
}

.hamburger-is-open .bread.hamburger__patty {
  background-color: #F0D2AA;
}

.veggie.hamburger-is-open .hamburger__patty {
  background-color: forestgreen !important;
}



/*----- hamburger toppings -----*/

.hamburger__topping {
  display: none;
  width: 98%;
  margin: 5px auto;
  padding-top: 9%;

  background-color: black;
  border-radius: 105px;

  transform-origin: 50% 50%;
  transition: all .4s ease;
}

.cheese .hamburger__topping,
.mustard .hamburger__topping,
.lettuce .hamburger__topping,
.pickles .hamburger__topping,
.mayo .hamburger__topping,
.special-sauce .hamburger__topping,
.ketchup .hamburger__topping {
  display: block;
}

.hamburger-is-open .ketchup .hamburger__topping {
  background-color: red;
}

.hamburger-is-open .mustard .hamburger__topping {
  background-color: yellow;
}

.hamburger-is-open .lettuce .hamburger__topping {
  background-color: yellowgreen;
}

.hamburger-is-open .pickles .hamburger__topping {
  background-color: green;
}

.hamburger-is-open .mayo .hamburger__topping {
  background-color: lightyellow;
}

.hamburger-is-open .special-sauce .hamburger__topping {
  background-color: peachpuff;
}

.hamburger-is-open .cheese .hamburger__topping {
  background-color: #FFFF33;
}

.hamburger__topping:first-of-type {
  margin-top: 2px;
}

.hamburger-is-open .hamburger__topping {
  transform: translateX(2px);
  background-color: brown;
}

.hamburger-is-open .hamburger__topping {
  transform: translateX(2px);
}
