/*----- hamburger -----*/

.hamburger {
  width: 52px;
  padding: 0;
  background: none;
  border: none;
}

.whitecastle.hamburger {
  width: 20px
  /* transform: scale(0.4); */
}

.slider.hamburger {
  width: 40px;
}

.quarterpounder.hamburger,
.royale.hamburger,
.krustyburger.hamburger {
  width: 62px;
}

.slider .hamburger__topping {
  height: 10px;
}

.bigmac.hamburger {
  width: 102px;
}

.supersize.hamburger {
  width: 100%;
}


.hamburger:focus,
.hamburger:active {
  box-shadow: none;
}


.hamburger__button {
  width: 100%;
  background: none;
  border: none;
}

.hamburger__button:focus,
.hamburger__button:active {
  outline: none;
}


/*----- hamburger buns -----*/

.hamburger__top-bun__svg {
  width: 100%;
  overflow: visible;
  fill: #222;
}

.hamburger__top {
  transform-origin: 100% 100%;
  transition: all 300ms ease;
}

.hamburger-is-open .hamburger__top {
  transform: rotate(160deg) translateX(-4px);
  fill: #F0D2AA;
}

.hamburger__bottom {
  transition: all 300ms ease;
}

.hamburger-is-open .hamburger__bottom {
  fill: #F0D2AA;
}



/*----- hamburger cheese -----*/

.hamburger-cheese {
  margin-bottom: -20%;
}

.bigmac .hamburger-cheese,
.supersize .hamburger-cheese {
  margin-bottom: -12%;
}




/*----- hamburger patty -----*/

.hamburger__patty {
  display: block;
  padding-top: 17%;

  transition: all 300ms ease;
  background-color: black;
  border-radius: 105px;
}

.hamburger__patty:first-of-type {
  margin-top: 1px;
}

.hamburger__patty:last-of-type {
  margin-bottom: -1px;
}


.bigmac .hamburger__patty:last-of-type,
.supersize .hamburger__patty:last-of-type,
.quarterpounder .hamburger__patty:last-of-type,
.royale .hamburger__patty:last-of-type,
.krustyburger .hamburger__patty:last-of-type {
  margin-bottom: 3px;
}

.slider .hamburger__patty:first-of-type,
.slider .hamburger__patty:last-of-type,
.whitecastle .hamburger__patty:first-of-type,
.whitecastle .hamburger__patty:last-of-type {
  margin-top: 0;
}

.hamburger-is-open .hamburger__patty {
  /* transform: translateX(2px); */
  background-color: #FF6C43;
}

.hamburger-is-open .bread.hamburger__patty {
  background-color: #F0D2AA;
}

.veggie.hamburger-is-open .hamburger__patty {
  background-color: forestgreen !important;
}



/*----- hamburger toppings -----*/

.hamburger__topping:first-of-type {
  margin-top: -8px;
}

.hamburger__topping {
  margin-top: 2px;
  height: 7px;
}

.hamburger__topping.hamburger-lettuce {
  margin-top: 6px;
}

.hamburger-sauce {
  height: 4px;
  margin-bottom: 4px;
  margin-top: 0px;
}

.slider .hamburger__topping {
  height: 5px;
}

.whitecastle .hamburger__topping {
  height: 3px;
}

.quarterpounder .hamburger__topping,
.royale .hamburger__topping,
.krustyburger .hamburger__topping {
  height: 7px;
}

.quarterpounder .hamburger__topping:last-of-type,
.royale .hamburger__topping:last-of-type,
.krustyburger .hamburger__topping:last-of-type {
  margin-bottom: 0px;
}

.quarterpounder .hamburger__topping:first-of-type,
.royale .hamburger__topping:first-of-type,
.krustyburger .hamburger__topping:first-of-type {
  margin-top: -4px;
}

.quarterpounder .hamburger-sauce,
.royale .hamburger-sauce,
.krustyburger .hamburger-sauce {
  margin-bottom: 0px;
}

.supersize .hamburger__topping,
.bigmac .hamburger__topping {
  height: initial;
  margin: 0;
}

.supersize .hamburger__topping,
.bigmac .hamburger__topping {
  height: initial;
}

.cheese,
.hamburger__topping svg path {
  transition: fill 300ms ease;
}

.hamburger-is-closed .cheese,
.hamburger-is-closed .hamburger__topping svg path {
  fill: black;
}

.in-and-out.hamburger-is-open .hamburger__patty,
.in-and-out.hamburger-is-open .hamburger__bottom-bun,
.in-and-out.hamburger-is-open .hamburger__top-bun,
.in-and-out.hamburger-is-open .hamburger__topping {
  display:none;
}
